POSTGRES_USER=YOUR_USERNAME
POSTGRES_PASSWORD=YOUR_PASSWORD
POSTGRES_DB=assistant_db
DATABASE_URL=postgresql+psycopg2:YOUR_USERNAME//:YOUR_PASSWORD@localhost:5433/assistant_db
GEMINI_API_KEY=YOUR_KEY
GEMINI_MODEL=gemini-2.5-flash